{% if outcome.owner %}
  <div class="defra-outcome-owner-block govuk-!-margin-bottom-2">
    <p class="defra-outcome-owner-block__label govuk-!-margin-bottom-1">Outcome owner</p>
    <p class="defra-outcome-owner-block__person govuk-!-margin-bottom-0">
      <span class="govuk-!-font-weight-bold">{{ outcome.owner.name }}</span><br>
      {{ outcome.owner.role }}
    </p>
  </div>
{% elif outcome.owners and (outcome.owners | length) > 0 %}
  <div class="defra-outcome-owner-block govuk-!-margin-bottom-2">
    <p class="defra-outcome-owner-block__label govuk-!-margin-bottom-1">Outcome owners</p>
    {% for o in outcome.owners %}
      <p class="defra-outcome-owner-block__person govuk-!-margin-bottom-2 {% if loop.last %}govuk-!-margin-bottom-0{% endif %}">
        <span class="govuk-!-font-weight-bold">{{ o.name }}</span><br>
        {{ o.role }}
      </p>
    {% endfor %}
  </div>
{% endif %}
