{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageName = "Outcomes framework - table view" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Defra Outcomes Framework: table view</h1>
    <div class="defra-table-wrapper">
      {{ govukTable({
        classes: "govuk-!-font-size-16",
        firstCellIsHeader: false,
        head: [
          { text: tableData.columns[0] },
          { text: tableData.columns[1] },
          { text: tableData.columns[2] },
          { text: tableData.columns[3] },
          { text: tableData.columns[4] }
        ],
        rows: tableRows
      }) }}
    </div>

  </div>
</div>
{% endblock %}
