{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.njk" %}

{% block header %}
  <header class="defra-site-header" role="banner">
    <div class="defra-site-header__brand-bar">
      <div class="govuk-width-container defra-site-header__brand-container">
        <a class="defra-site-header__brand-link" href="/" aria-label="Defra Outcomes Framework home">Defra Outcomes Framework</a>
      </div>
    </div>
    <nav class="defra-site-header__nav-bar" aria-label="Primary navigation">
      <div class="govuk-width-container">
        <ul class="defra-site-header__nav">
          <li class="defra-site-header__nav-item">
            <a class="defra-site-header__nav-link{% if currentPath == '/outcomes' %} defra-site-header__nav-link--current{% endif %}" href="/outcomes"{% if currentPath == '/outcomes' %} aria-current="page"{% endif %}>Accordion</a>
          </li>
          <li class="defra-site-header__nav-item">
            <a class="defra-site-header__nav-link{% if currentPath == '/outcomes-static' %} defra-site-header__nav-link--current{% endif %}" href="/outcomes-static"{% if currentPath == '/outcomes-static' %} aria-current="page"{% endif %}>Static</a>
          </li>
          <li class="defra-site-header__nav-item">
            <a class="defra-site-header__nav-link{% if currentPath == '/outcomes-table' %} defra-site-header__nav-link--current{% endif %}" href="/outcomes-table"{% if currentPath == '/outcomes-table' %} aria-current="page"{% endif %}>Table</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
{% endblock %}
